/* Reset de estilos para garantir consistência em diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url();
    background-color: #bcb2ad;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin: 0;
}

/* ... Container do titulo ... */

.title-container {
    background-color: #4c3232;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
}

.title-container h1 {
    font-family: 'Montserrat', sans-serif;
    color: #504242;
}

.title-container h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: thin;
    color: rgb(72, 61, 66);
}












h1 {
    font-family: 'Montserrat', sans-serif;
    color: #504242;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: thin;
    color: rgb(72, 61, 66);
}

.highlight {
    color: rgb(98, 89, 89);
    font-family: 'Cabin', sans-serif;
    font-style: bold, italic;
    font-weight: 600;
}

section {
    background-color: #4c3232;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.container {
    font-family: 'Kanit', sans-serif;
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos para o link */
a {
    color: rgb(7, 7, 82);
    text-decoration: none;
}

/* Estilo para o link quando o mouse passa por cima */
a:hover {
    color: rgb(0, 60, 255);
}

/* Estilo para o link visitado */
a:visited {
    color: rgb(154, 170, 179);
}

/* Estilo para o link quando está focado (pode ser útil para acessibilidade) */
a:focus {
    outline: 2px solid rgb(55, 79, 149);
}

img {
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
}

img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: thin;
    color: #ccb79c;
}

/* Estilos do botão */
a button, .special-button {
    background-color: #3d2727;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

a button:hover, .special-button:hover {
    background-color: #2e1111;
}

.button-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
